<section class="social-media">
  <div class="container">
    <div class="action-box text-center">
      <!-- get icons -->
      <h2>Check Out Our Social</h2>
      <a href="">insta</a>
      <a href="">spotify</a>
      <a href="">youtube</a>
    </div>
  </div>
</section>