 {{!-- - ABOUT HE FAILS ME: - HFM Bio - Studio/Live production: - short bio with pics/video - List of bands w/ short bios
and 1 youtube vid + links to Spotify pages - No Motiv - The Warriors - Retaliate - Peace’d Out - Felled Trees --}}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <section>
                <br>
                <br>
                <br> {{!-- HFM and RC BIO section--}}
                <h1>ABOUT ROGER CAMERO</h1>
                <hr>
                <br>
                <br>
                <br>
                <div class="row">
                    <div class="col-sm-6">
                        <p>Roger Camero’s musical legacy and influence far exceed what one might expect from his calm and humble
                            demeanor. With unparalleled humility and focus Roger has, for over 2 decades, worked with some
                            of the biggest names in independent music and beyond. Ground breaking artists of all genres,
                            such as At The Drive In all the way to Ben Harper have trusted Roger’s impeccable ear and expertise
                            in both in-studio and live sound production. Roger’s legacy in the Southern California independent
                            music scene, both as a musician and producer, is paralleled by very few. Much like Dischord Records
                            did in Washington D.C. in the 1980s, Roger has done for Ventura County, Los Angeles— Roger has
                            successfully documented a vibrant music scene as it’s highly reputable go-to producer. The reputation
                            Roger has built in Southern California has continued to snowball into a carrier with international
                            notoriety. On any given midnight you’re sure to find Roger Camero doing what he does best; properly
                            caffeinated, performing sonic alchemy in this Santa Ana laboratory, Bright Lights Studios. -Donny
                            Phillips (KIHL Studio)
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <img class="center-pic" style="width:100%; height:100%" src="/assets/images/about-page/rog-ron-oak-met.jpg" />
                    </div>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <h1>ABOUT HE FAILS ME</h1>
                        <hr>
                    </div>
                    <div class="col-sm-12">
                        <br>
                        <br>
                        <img class="center-pic" style="width:80%; height:80%" src="/assets/images/about-page/band_Photo.jpg">
                    </div>
                    <div class="col-sm-4">
                        <p> He Fails Me is the solo music endeavor of Roger Camero. In 2003, during some rare touring downtime
                            with his band, No Motiv, HFM was created with the sole purpose of writing and recording songs
                            for fun. There was no desire to turn the project from a one-man-band into a band that performed
                            live. Between 2003-2013 several songs were written and recorded by Roger, only to be heard by
                            close friends who were interested in listening. </p>
                    </div>
                    <div class="col-sm-4">
                        <p> For the past 20 years, Roger has been working mainly as a live sound engineer and record producer
                            while also keeping active playing in several bands, all of which function on a part-time basis.
                            In 2013, the decision was made to finally bring He Fails Me into the public eye. In between touring
                            cycles and album production, He Fails Me has released 5 recordings and has played 9 shows, with
                            a tight cast of Raymond Camero (Roger’s older brother) and other close friends filling out the
                            band. </p>
                    </div>
                    <div class="col-sm-4">
                        <p>He Fails Me “Live” has been made possible by the following members (so far):</p>
                        <ul>
                            <li>Roger Camero: Vocals, Guitar</li>
                            <li>Raymond Camero: Bass, Guitar, Keyboard</li>
                            <li>Cortney Miner: Guitar</li>
                            <li>Michael Procaccini: Bass</li>
                            <li>Wayne Peterson: Drums</li>
                            <li>Steve Choi: Drums</li>
                            <li>Erol Ulug: Drums</li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>
    {{!-- live production section --}}
    <section>
        <div class="container">
            <div class="row">
                <section>
                    <div class="col-sm-12">
                        <h2>LIVE PRODUCTION</h2>
                        <hr>
                        <img class="center-pic" style="width:50%; height:50%" src="/assets/images/about-page/teragram.JPG" />
                        <h5>Matthew Embree of Rx Bandits & Roger @ Teragram Ballroom, Los Angeles, Ca. Photo: Ciara McMullan
                        </h5>
                        <div class="row">
                            <div class="col-sm-6">
                                <p>
                                    In 2008, Roger was hired to be the Front of House Sound Engineer for the band, RX Bandits. He toured with the band until
                                    2016, which marked the band’s last full US tour. His full client roster includes:</p>
                                <p> Circa Survive, Parkway Drive, Knapsack, Set Your Goals, This Wild Life, The Movielife, Night
                                    Demon, Kiev.
                                </p>
                            </div>
                            {{!-- tech section --}}
                            <div class="col-sm-6">
                                <p>
                                    In addition to working as a live sound engineer, he has teched for the following bands:
                                </p>
                                <ul>
                                    <li>Ben Harper & The Innocent Criminals - Bass Tech</li>
                                    <li>New Found Glory - Bass Tech & Drum Tech</li>
                                    <li>At The Drive In - Guitar Tech</li>
                                    <li>The Sound of Animals Fighting - Band Tech</li>
                                    <li>The Used - Guitar & Bass Tech</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <img style="width:100%; height:100%" src="/assets/images/about-page/live/tsoaf.JPG" />
                                <h6>The Sound of Animals Fighting @ The Wiltern, Los Angeles, Ca.</h6>
                            </div>
                            <div class="col-sm-4">
                                <img style="width:100%; height:100%" src="/assets/images/about-page/live/ben-harper-live.JPG" />
                                <h6>Ben Harper & The Innocent Criminals @ Austin City Limits, Austin, Tx.</h6>
                            </div>
                            <div class="col-sm-4">
                                <img style="width:100%; height:100%" src="/assets/images/about-page/live/thailand1.JPG" />
                                <h6>New Found Glory @ Live House Studio, Bangkok, Thailand.</h6>
                            </div>
                        </div>
                </section>
                </div>
            </div>
            {{!-- studio production section --}}
            <div class="row">
                <div class="col-sm-12">
                    <section>
                        <h2>STUDIO PRODUCTION</h2>
                        <hr>
                        <div class="row">
                            <div class="col-sm-6">
                                <p>
                                    Roger got his start professionally producing records for local bands in his hometown of Oxnard, Ca in 1999. After his years
                                    of touring with No Motiv, he moved to Orange County to pursue a full time career in studio
                                    production. For the past 11 years, he has been working at his personal studio, Bright
                                    Lights, in Santa Ana, Ca, as well as Bright Mountain in Tehachapi, Ca. </p>
                            </div>
                            <div class="col-sm-6">
                                <p>Select roster includes: No Motiv, The Warriors, Silver Snakes, Night Demon, Grave Maker,
                                    RX Bandits, Comeback Kid, Thrice, Gygax, New Liberty, Aaron Orbit, Retaliate, Vendetta,
                                    NAILS, The Frights, Vinnie Caruana, Anthony Raneri, The Velveteen, The Aquabats, Ignite,
                                    Foreign Pain, Nike, Hurley, Skullcandy.
                                </p>
                                <br>
                            </div>
                            <div class="row">
                                {{!--
                                <div class="col-sm-4">
                                    <img class="center-pic" style="width:100%; height:100%" src="/assets/images/about-page/bright-lights-view.jpg" />
                                    <h5>Bright Lights, Santa Ana, Ca.</h5>
                                </div> --}}
                                <div class="col-sm-6">
                                    {{!--
                                    <img class="center-pic" style="width:80%; height: 80%" src="/assets/images/about-page/thrice-bl.jpg" /> --}}
                                    <img class="center-pic" style="width:80%; height: 80%" src="/assets/images/about-page/thrice.jpg" />
                                    <h5>Thrice recording at Bright Lights, March 2018</h5>
                                </div>
                                <div class="col-sm-6">
                                    <img class="center-pic" style="width:80%; height:80%" src="/assets/images/about-page/bright-mountain-controlroom.JPG" />
                                    <h5>Bright Mountain, Tehachapi, Ca.</h5>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            {{!-- other bands section --}}
            <div class="row">
                <div class="col-sm-12">
                    <section>
                        <h1>THE BANDS OF ROGER CAMERO</h1>
                        <hr> {{!-- no motiv section --}}
                        <section>
                            <h2>NO MOTIV</h2>
                            <h5>Bassist 1991-2002, Drummer 2002-Present</h5>

                            <hr>
                            <div class="row">
                                <div class="col-sm-6">
                                    <img class="center-pic" style="width:100%; height:100%" src="/assets/images/about-page/bands/nomotiv.jpg">
                                    <h5>From Left to Right: Jeff Hershey, Jeremy Palaszewski, Max McDonald, Roger Camero</h5>
                                </div>
                                <div class="col-sm-6">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/GD4lbfSPHDE?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0"
                                        allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    <h5>"Into The Darkness" Music Video</h5>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h3>Band Accolades</h3>
                                            <p>Vagrant Records Alumni from 1998-2005 releasing the following albums:</p>
                                            <ul>
                                                <li>“...And The Sadness Prevails” 1999</li>
                                                <li>“Diagram For Healing” 2001</li>
                                                <li>“Lola EP” 2003</li>
                                                <li>“Daylight Breaking” 2004</li>
                                                <li>“Winterlong” 2011</li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-6">
                                            <h3>Band Features</h3>
                                            <ul>
                                                <li>Featured Band on ESPN X GAMES, 2004</li>
                                                <li>Music Featured on the Motion Picture, “Not Another Teen Movie”</li>
                                                <li>Music Featured on the video games, “Transworld Surf” and “Burnout 3”</li>
                                            </ul>
                                            <p>
                                                Toured with acts such as Face to Face, Jimmy Eat World, Andrew WK, Alkaline Trio, Blink-182, AFI, Thrice, Saves The Day,
                                                H2O, RX Bandits, Fairweather, Finger Eleven, Hot Rod Circuit, Hey Mercedes,
                                                The Ataris, and Dashboard Confessional.
                                            </p>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <iframe src="https://open.spotify.com/embed/artist/2C1nw3NCKAUoY1IUuyk34L" width="300" height="380" frameborder="0" allowtransparency="true"
                                                allow="encrypted-media"></iframe>
                                            <button class="center-pic" style="font-size:24px">
                                                {{!--
                                                <a href="https://open.spotify.com/artist/2C1nw3NCKAUoY1IUuyk34L">
                                                    <i class="fa fa-spotify"></i>
                                                    <p>NO MOTIV SPOTIFY</p>
                                                </a>
                                            </button> --}}
                                        </div>
                                        <div class="col-sm-6">
                                            <button class="center-pic" style="font-size:24px">
                                                <a href="https://en.wikipedia.org/wiki/No_Motiv">
                                                    <i class="fa fa-wikipedia-w"></i>
                                                    <p>NO MOTIV WIKIPEDIA</p>
                                                </a>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        {{!-- the warriors section --}}
                        <Section>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h2>THE WARRIORS</h2>
                                    <h5>Bassist 2007. Drummer 2006, 2009-Present</h5>
                                    <hr>
                                </div>
                                <div class="col-sm-6">
                                    <img class="center-pic" style="width:100%; height:100%" src="/assets/images/about-page/bands/warriors.jpg">
                                    <h5>From Left to Right: Marshall Lichtenwaldt, Roger Camero, Joe Martin, Charlie Alvarez,
                                        Javier Zarate</h5>
                                </div>
                                <div class="col-sm-6">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/0R4vVQyDvNI?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0"
                                        allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    <h5>Live @ The Regent, Los Angeles, Ca 2.23.18</h5>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="row">
                                <div class="col-sm-6">
                                    <iframe src="https://open.spotify.com/embed/artist/0eHAMIAxiBEpQdv8UVwSxb" width="300" height="380" frameborder="0" allowtransparency="true"
                                        allow="encrypted-media"></iframe>
                                </div>
                                <div class="col-sm-6">
                                    <button class="center-pic" style="font-size:24px">
                                        <a href="https://en.wikipedia.org/wiki/The_Warriors_(band)">
                                            <i class="fa fa-wikipedia-w"></i>
                                            <p>THE WARRIORS WIKIPEDIA</p>
                                        </a>
                                    </button>

                                </div>
                            </div>
                        </Section>

                        {{!-- Retaliate section --}}
                        <section>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h2>RETALIATE</h2>
                                    <h5>Guitarist</h5>
                                    <hr>
                                </div>
                                <div class="col-sm-6">
                                    <img style="width:100%; height:100%" src="/assets/images/about-page/bands/retaliate.jpg">
                                    <h5>From Left to Right: Zack Nelson, Andy Bready, Andrew Verity, Roger Camero, Matt Anderson</h5>
                                </div>
                                <br>
                                <div class="col-sm-6">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/ol2qde1FNR8?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0"
                                        allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    <h5>Retaliate featured on The Eric Andre Show</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <br>
                                    <br> {{!--
                                    <button class="center-pic" style="font-size:24px">
                                        <a href="https://open.spotify.com/artist/2LbJc3kbLRoxHH0kw22r1s">
                                            <i class="fa fa-spotify"></i>
                                            <p>RETALIATE SPOTIFY</p>
                                        </a>
                                    </button> --}}
                                    <iframe src="https://open.spotify.com/embed/album/3AWv0Wk793aZ8yErWguSk1" width="300" height="380" frameborder="0" allowtransparency="true"
                                        allow="encrypted-media"></iframe>
                                </div>
                                <div class="col-sm-6">
                                    <br>
                                    <br> {{!--
                                    <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=3480183997/size=small/bgcol=333333/linkcol=ffffff/transparent=true/"
                                        seamless>
                                        <a href="http://retaliate.bandcamp.com/album/infidel">Infidel by Retaliate</a>
                                    </iframe> --}}

                                    <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=3480183997/size=large/bgcol=333333/linkcol=ffffff/tracklist=false/artwork=small/transparent=true/"
                                        seamless>
                                        <a href="http://retaliate.bandcamp.com/album/infidel">Infidel by Retaliate</a>
                                    </iframe>
                                </div>
                            </div>
                        </section>

                        {{!-- peace'd out section --}}
                        <br>
                        <br>
                        <br>

                        <section>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h2>PEACE'D OUT</h2>
                                    <h5>Bassist</h5>
                                    <hr>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <img class="center-pic" style="width:100%; height:100%" src="/assets/images/about-page/bands/peacedout.jpg">
                                        <h5>From Left to Right: Steve Choi, Vinnie Caruana, Casey Deitz, Roger Camero</h5>
                                    </div>
                                    <div class="col-sm-6">
                                        <iframe width="560" height="315" src="https://www.youtube.com/embed/sSC4Rw0HHAc?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0"
                                            allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        <h5>"Castlemania" live @ Bright Lights</h5>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <br>
                            <div class="row">
                                <div class="col-sm-6">
                                    <iframe src="https://open.spotify.com/embed/artist/3zdECoqnUf6iExu7fkIziI" width="300" height="380" frameborder="0" allowtransparency="true"
                                        allow="encrypted-media"></iframe>
                                </div>
                                <div class="col-sm-6">
                                    <button class="center-pic" style="font-size:24px">
                                        <a href="http://peacedoutmusic.tumblr.com/">
                                            <i class="fa fa-tumblr"></i>
                                            <p>PEACE'D OUT TUMBLR</p>
                                        </a>
                                    </button>

                                </div>
                            </div>
                        </section>

                        <section>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h2>FELLED TREES</h2>
                                    <h5>Drummer</h5>
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <img style="width:100%; height:100%" src="/assets/images/about-page/bands/felledtrees.jpg">
                                    <h5>TOP ROW From Left to Right: Toki, Blair Shehan, Sergie Loobkoff, Roger Camero, Ed Breckenridge</h5>
                                    <h5>BOTTOM ROW From Left to Right: Steve Choi, Karl Larsson, Jason Beebout, Garrett Klahn,Davey
                                        Warsop
                                    </h5>
                                </div>
                                <div class="col-sm-6">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/L41a6gFEoeo?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0"
                                        allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    <h5>"Get Me" live @ Bright Lights - Featuring Garrett Klahn on Vocals</h5>
                                </div>
                            </div>
                            <br>
                            <br>
                            <br>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p>Felled Trees is a indie music supergroup consisting of members from Samiam, Knapsack,
                                        The Jealous Sound, Thrice, No Motiv, Texas Is The Reason, RX Bandits, Beat Union,
                                        and Sharp/Shock. Click the links below to learn more about the band.
                                    </p>
                                </div>
                            </div>
                            <br>
                            <br>
                            <br>
                            <div class="row">
                                <div class="col-sm-4">

                                    <a href="https://www.rollingstone.com/music/news/felled-trees-honor-dinosaur-jr-with-get-me-song-premiere-20130927" class="center-pic btn btn-info btn-sm">
                                        <p>Rolling Stone Feature</p>
                                    </a>
                                </div>
                                <div class="center-pic col-sm-4">
                                    <a href="https://www.altpress.com/news/entry/felled_trees_members_of_thrice_samiam_texas_is_the_reason_stream_get_me_din"
                                        class="center-pic btn btn-info btn-sm">
                                        <p>Alternative Press Feature</p>
                                    </a>
                                </div>
                                <div class="center-pic col-sm-4">
                                    <a href="http://www.brooklynvegan.com/members-of-texa/" class="center-pic btn btn-info btn-sm">
                                        <p>Brooklyn Vegan Feature</p>
                                    </a>
                                </div>
                            </div>
                        </section>
                    </section>
                </div>
            </div>
        </div>