 {{!-- - ABOUT HE FAILS ME: - HFM Bio - Studio/Live production: - short bio with pics/video - List of bands w/ short bios
and 1 youtube vid + links to Spotify pages - No Motiv - The Warriors - Retaliate - Peace’d Out - Felled Trees --}}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <section>
                <h1>ABOUT HE FAILS ME</h1>
                <hr>
                {{!-- add "band_photo psd" into jpg--}}
                <p> He Fails Me is the solo music entity of Roger Camero. In 2003, during touring downtime with the band, No
                    Motiv, HFM was created with the sole purpose of Roger writing and recording songs for fun. There was
                    no desire to turn the project from a one man band into a live performance band. During 2003-2013, several
                    songs were written and recorded by Roger, only to be shared with a few close friends who were interested
                    in listening. </p>
                <br>
                <p> For the past 20 years, Roger has been working mainly as a live sound engineer and record producer, while
                    also keeping active playing in several bands that function as part time side projects. In 2013, the decision
                    was made to finally bring He Fails Me to the public eye. In between touring cycles and album production,
                    He Fails Me has released 5 recordings and has played 9 shows, with a tight cast of Raymond Camero (Roger’s
                    older brother) and other close friends filling out the band. </p>
                <hr>
                <p>He Fails Me “Live” has been made possible by the following members (so far):</p>
                <ul>
                    <li>Roger Camero: Vocals, Guitar</li>
                    <li>Raymond Camero: Bass, Guitar, Keyboard</li>
                    <li>Cortney Miner: Guitar</li>
                    <li>Michael Procaccini: Bass</li>
                    <li>Wayne Peterson: Drums</li>
                    <li>Steve Choi: Drums</li>
                    <li>Erol Ulug: Drums</li>
                </ul>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <section>
                <h2>LIVE PRODUCTION / STUDIO PRODUCTION</h2>
                <p>
                    In 2008, Roger was hired to be the Front of House Sound Engineer for the band, RX Bandits. He toured with the band until
                    2016, the bands last full US tour. His client list includes:</p>
                <p>Parkway Drive, Circa Survive, Knapsack, Set Your Goals, This Wild Life, The Movielife, Night Demon, Kiev.</p>
                <br>
                <img style="width:50%; height:50%" src="/assets/images/teragram.JPG" />
                <br>
                <br>
                <p>
                    Aside from working as a live sound engineer, he has teched for the following bands:
                </p>
                <ul>
                    <li>Ben Harper & The Innocent Criminals - Bass Tech</li>
                    <li>New Found Glory - Bass Tech & Drum Tech</li>
                    <li>At The Drive In - Guitar Tech</li>
                    <li>The Sounds of Animals Fighting - Band Tech</li>
                </ul>
            <img style="width:50%; height:50%" src="/assets/images/tsoaf.JPG"/>
            <img style="width:50%; height:50%" src="/assets/images/benharper.JPG"/>
            <img style="width:50%; height:50%" src="/assets/images/thailand1.JPG"/>
            </section>
        </div>
    </div>
</div>





