{{!--     
    - Contact/Links
        - email HFM
        - facebook link
        - instagram link --}}

<h1>CONTACT HE FAILS ME</h1>

<img src="/assets/images/ContactPage.JPG" />

<h2>E-Mail: HFM@hefailsme.com</h2>
<div id="links">
    <h3>LINKS</h3>
    <hr/>
    <div class="spotify">
        <a href="https://open.spotify.com/artist/1DnIqsvnd5OSZrtcwn6DlR" target="_blank">
            <img src="./assets/images/spotify.png" alt="spotify" style="width:42px;height:42px;">
        </a>
    </div>

    <div class="instagram">
        <a href="https://www.instagram.com/hefailsme" target="_blank">
            <img src="./assets/images/instagram.png" alt="instagram" style="width:42px;height:42px;border-right:0px;">
        </a>
    </div>
</div>
</div>