 {{!-- - MAIN PAGE: - feature on the new single, “Code Break”. - song stream from soundcloud.com - pictures from recording
session --}} {{!--
<header class="video-header">
  <div class="full-bg-video-wrap">
    <video autoplay loop id="video-background" muted plays-inline>
      <source src="assets/video/hefailsme-Live-@-BONNERHAUS-North-Hollywood-CA.mp4" type="video/mp4">
    </video>
  </div>
</header> --}}

<!-- Slider main container -->
{{!--
<div class="swiper-container main-slider" id="myCarousel">
  <div class="swiper-wrapper">
    <div class="swiper-slide slider-bg-position" style="background:url('assets/images/band_Photo.jpg)" data-hash="slide1">
      <h1>NEWS</h1>
    </div>
    <div class="swiper-slide slider-bg-position" style="background:url('assets/images/teragram.JPG')" data-hash="slide2">
    </div>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
  <!-- Add Navigation -->
  <div class="swiper-button-prev">
    <i class="fa fa-chevron-left"></i>
  </div>
  <div class="swiper-button-next">
    <i class="fa fa-chevron-right"></i>
  </div>
</div> --}}

<section class="service-sec" id="benefits">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="heading">
          <h1>NEWS</h1>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">

          <h2>5-11-18: NEW WEBSITE!!! NEW SINGLE RELEASE!!!</h2>
          <br>
          <p>We're 5 months into 2018, and I've given you silence (no pun intended). Of course this is unintentional. For those
            of you keeping tabs on my whereabouts, I've been taking a break from writing music for HFM, and have been focusing
            my attention on learning web development. Perhaps you're wondering why on earth I'd want to do such a thing...
            Well, the fact of the matter is that I'm taking a break from touring for the unforseeable future. With the reality
            of being at home, I felt that now is the time to learn something new, and to see how I can impliment this new
            skill into my world.
          </p>
          <p>
            The first thing I wanted to do was re-vamp my website. So, here we are. Welcome, and thank you for tuning in. The new hefailsme.com
            has been brought to you by The Crunchy Harps Group, consisting of myself, Marcus Badillo, Donovan Hedrich, and
            John Chambers. To celebrate having a new site, we've also teamed up on the music end, and we would to present
            you with the new single, "Code Break".
          </p>
            <p>
            I am not a highly political person, nor do I have an agenda to use politics to fuel my music. However, I am a compassionate
            human being, and I am a person that comes from an immigrant family. I am also a person who values the idea that
            the children are our future. I believe in human rights, racial equality, and gender equality. I am sickened by
            violence. I, along with millions of other people, have been emotionally shook on so many levels by the tragedies
            that have plagued not only my country, but worldwide. "Code Break" is a song about love. It's about how love
            should be taken more seriously, not just on a relationship standpoint, but on a global and human level. Unfortunately,
            I don't think love is on everyones agendas, especially at the highest level of our government.
          </p>

          <div class="row">
            <div class="col-sm-4">
              <img style="width:80%; height:80%" src="/assets/images/main-page/john-marcus.jpg">
            </div>
            <div class="col-sm-4">
              <img style="width:80%; height:80%" src="/assets/images/main-page/code-break-album-cover.jpg">
            </div>
            <div class="col-sm-4">
              <img style="width:80%; height:80%" src="/assets/images/main-page/donovan-guitar.jpg">
            </div>
          </div>
        
          <p>Listen to "Code Break (featuring Donovan and Dr3adlock)" available now on Soundcloud</p>
          <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/442233309&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
        </div>
      </div>

      <section>
        <div class="row">
          <div class="col-md-12">
            <h2>COMING SUMMER 2018</h2>
            <h3>He Fails Me Presents: "The Mayflower"</h3>
            <p>During the month of May 2017, I had the pleasure of having out of state friends visit California. We took full
              advantage of our situations and barged to Bright Mountain and Bright Lights on separate occasions, with the
              sole purpose of getting much needed hang time in together. One thing let to another, and we have some sonic
              evidence in the form of a 3 song EP on our hands...Stay tuned to find out what "The Mayflower" is all about.
            </p>
          </div>
        </div>
      </section>
      <!-- /.row -->
    </div>
</section>