{{!-- - Tour: - Old show flyers displayed --}}
<section>
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        <br>
        <br>
        <br>
        <h1>TOUR</h1>
        <hr>
        <img class="center-pic" style="width:50%; height:50%" src="/assets/images/tour-page/12-28-16-4th-St-Vine.jpg" <br>
        <H3>PAST SHOWS</H3>
      </div>
      {{!--
      <div class="thead">

        <div class="row tr">
          <div class="col-sm-3 col-xs-3 td">
            DATE
          </div>
          <div class="col-sm-5 col-xs-5 td status">
            VENUE
          </div>
          <div class="col-sm-4 col-xs-4 td">
            CITY/STATE
          </div>
        </div>

      </div> --}}

      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Venue</th>
              <th scope="col">City/State</th>
            </tr>
          </thead>
          <tbody>
            {{#each dbUser}}
            <tr>
              <td>{{this.date}}</td>
              <td>{{this.venue}}</td>
              <td>{{this.city}}, {{this.state}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>

      </div>
    </div>
</section>
</div>


<div class="container">
  <section>
    <h1>PAST SHOW FLYERS</h1>
    <hr>
    <div class="col-md-12">
      <div class="row">
        <hr>

        <div class="gal">

          <img src="/assets/images/show-flyers/1-17-14-Bombay.jpg">
          <img src="/assets/images/show-flyers/4-16-16-La-Dolce-Vita.JPG">
          <img src="/assets/images/show-flyers/4-20-15-Slidebar.JPG">
          <img src="/assets/images/show-flyers/8-10-15-DiPiazzas.JPG">
          <img src="/assets/images/show-flyers/8-14-15-Lancaster-Moose-Lodge.JPG">
          <img src="/assets/images/show-flyers/9-20-14-Bombay.jpg">
          <img src="/assets/images/show-flyers/9-24-15-Programme.PNG">
          <img src="/assets/images/show-flyers/9-25-15-Bonnerhaus.JPG">
          <img src="/assets/images/show-flyers/12-28-16-4th-st-vine.JPG">

        </div>

      </div>
    </div>
</div>
</section>