@font-face {
    font-family: 'goudy_old_styleregular';
    src: url('../fonts/goudy_old_style_regular-webfont.woff2') format('woff2'), url('../fonts/goudy_old_style_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* {
    overflow-x: hidden;
}
/* our custom   */ 

.video-header {
    height: 100vh;
    display: flex;
    align-items: center;
    color: #ffffff;
}

.full-bg-video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.full-bg-video-wrap video {
  min-width: 100%;
  min-height: 100%;
}

/*TOUR TABLE CSS*/

.tbody>.tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.panel .td[class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.tbody>.tr,
.thead>.tr {
    margin: 0 auto;
}

.tbody>.tr.active-row {
    background-color: #dcd4d4;
}

.tbody>.tr>.td>label {
    display: inline-block;
    max-width: 100%;
    background-color: red;
    padding: 4px 10px;
    margin-bottom: 0;
    border-radius: 3px;
}

.click-cursor {
    cursor: pointer;
}

@media (min-width: 992px) {
    .thead>.tr {
        padding-right: 2%;
    }
    .panel>.table-responsive {
        height: 200px;
    }
}

@media (min-width: 767px) {
    .tbody>.tr>.td,
    .thead>.tr>.td {
        padding: 6px;
        vertical-align: middle;
        line-height: 1.42857143;
        border-top: 1px solid #ddd;
    }
    .tbody>.tr>.td.status {
        padding: 2px 6px;
    }
    .tbody>.tr>.td {
        border-top: 1px solid #ddd;
    }
    .thead>.tr {
        border-top: 1px solid #ddd;
        border-bottom: 2px solid #ddd;
    }
    .thead>.tr>.td {
        font-weight: bold;
    }
    .thead>.tr>.td.status {
        padding-left: 10px;
    }
    .tbody>.tr.click-cursor:hover {
        background-color: #dcd4d4;
    }
}

@media (min-width: 767px) and (max-width: 992px) {
    .thead>.tr>.long {
        padding-top: 2.5%;
    }
}

@media screen and (max-width: 767px) {
    .table-responsive {
        overflow-y: auto;
    }
    .panel>.table-responsive {
        height: 300px;
    }
    .thead {
        display: none;
    }
    .tbody>.tr {
        position: relative;
        border-top: 1px solid #ddd;
    }
}
/*TOUR GALLERY CSS*/

.gal {
    -webkit-column-count: 3;
    /* Chrome, Safari, Opera */
    -moz-column-count: 3;
    /* Firefox */
    column-count: 3;
}
/* MEDIA PAGE CSS */

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.album-img {
    width: 100%;
}

iframe {
    width: 1000px;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}


/*TOUR GALLERY CSS*/

.gal {
    -webkit-column-count: 4;
    /* Chrome, Safari, Opera */
    -moz-column-count: 4;
    /* Firefox */
    column-count: 4;
}

.gal img {
    width: 100%;
    padding: 7px 0;
}

@media (max-width: 500px) {
    .gal {
        -webkit-column-count: 1;
        /* Chrome, Safari, Opera */
        -moz-column-count: 1;
        /* Firefox */
        column-count: 1;
    }
}

/*CONTACT FORM*/
p{
	margin:0 0 25px;
	font-size:18px;
	line-height:1.6em;
}
a{
	color:#26a5d3;
}
a:hover,a:focus{
	text-decoration:none;
	color:#26a5d3;
}

#contact{
	/* background:#333333; */
	/* color:#f4f4f4; */
	padding-bottom:80px;
}

textarea.form-control{
    height:100px;
}

/* set video aspect ratio and vertically center */

.vimeo-wrapper {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background: #111;
    /* position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  overflow: hidden; */
}

.vimeo-wrapper iframe {
    width: 100vw;
    height: 96.25vw;
    /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
    min-height: 110vh;
    min-width: 177.77vh;
    /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-icon {
    width: 70px;
}
nav.sps--abv {
    background: #1b1b1b !important;
}
nav.sps--blw {
    background: #ffffff !important;
}
.sps--blw .nav-icon path.cls-1 {
    fill: #1b1b1b;
}

.sps--abv .nav-icon path.cls-1 {
    fill: #ffffff;
}

#band-logo {
    width: 90%;
    max-width: 8000px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.header-vid{
    overflow: hidden;
}
.bg-img-header {
    height: 90vh;
}
.bg-img-header.contact {
    background: url(/assets/images/contact-page.JPG) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header .header-text h1 {
    padding-top: 100px;
    text-align: left;
    color: #ffffff;
}




/* Login form */

.login-block {
        color: #fff;
    margin-top: 100px;
    /* background: #DE6262; */
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #212121, #131313);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #212121, #131313);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    float: left;
    width: 100%;
    padding: 100px 0;
}

.banner-sec {
    /* background: url(https://static.pexels.com/photos/33972/pexels-photo.jpg) no-repeat left bottom; */
    background-size: cover;
    min-height: 500px;
    border-radius: 0 10px 10px 0;
    padding: 0;
}

/* .container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 15px 20px 0px rgba(0, 0, 0, 0.1);
} */

.carousel-inner {
    border-radius: 0 10px 10px 0;
}

.carousel-caption {
    text-align: left;
    left: 5%;
}

.login-sec {
    padding: 50px 30px;
    position: relative;
}

.login-sec .copy-text {
    position: absolute;
    width: 80%;
    bottom: 20px;
    font-size: 13px;
    text-align: center;
}

/* .login-sec .copy-text i {
    color: #FEB58A;
}

.login-sec .copy-text a {
    color: #E36262;
} */

.login-sec h2 {
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 30px;
    /* color: #DE6262; */
}

.login-sec h2:after {
    content: " ";
    width: 100px;
    height: 5px;
    /* background: #FEB58A; */
    display: block;
    margin-top: 20px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto
}

.btn-login {
    /* background: #DE6262; */
    /* color: #fff; */
    font-weight: 600;
}
form.login-form {
    color: #fff;
}
.banner-text {
    width: 70%;
    position: absolute;
    bottom: 40px;
    padding-left: 20px;
}

.banner-text h2 {
    color: #fff;
    font-weight: 600;
}

.banner-text h2:after {
    content: " ";
    width: 100px;
    height: 5px;
    background: #FFF;
    display: block;
    margin-top: 20px;
    border-radius: 3px;
}
.hidden {
    opacity: 0;
    transition: .3s opacity;
}
.banner-text p {
    color: #fff;
}



/* Full Backgroudn video */

.video-background {
    background: #000;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -99;
}

.video-foreground,
.video-background iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
    .video-foreground {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    .video-foreground {
        width: 300%;
        left: -100%;
    }
}

@media all and (max-width: 600px) {
    .vid-info {
        width: 50%;
        padding: .5rem;
    }
    .vid-info h1 {
        margin-bottom: .2rem;
    }
}

@media all and (max-width: 500px) {
    .vid-info .acronym {
        display: none;
    }
}


h1 {

    font-size: 28px;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
    line-height: 26.4px;
}

h3 {
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
    line-height: 15.4px;
}



section.workin-one {
    padding: 100px 0;
        background: url(../images/main-page/john-marcus.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

footer.footer {
    color: #ffffff;
    background: #1b1b1b;
}

.modal-header {
    border-bottom: none;
}
.modal-close > span {
    color: #1b1b1b;
}
.modal-close {
    color: #ffffff;
}
button.close {
    padding: 0;
    background-color: #ffffff;
    border: 0;
    -webkit-appearance: none;
}
button#subscriptionButton {
    background: #fff;
    color: #1b1b1b;
    border-radius: 0;
    outline: 0;
    display: block;
    border: none;
    width: 200px;
    margin: 0 auto;
}
.popupsignup .modal-content {
    background: #1b1b1b;
    color: #ffffff;
}
input#email {
    border-radius: 0;
    padding: .7rem;
}

.header-vid {
    overflow-x: hidden;
}


section {
    padding: 100px 0;
}


blockquote.blockquote {
    color: #fff;
    font-size: 50px;
}

.max-400 {
    max-width: 400px;
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem;
}